<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>425352603437-2k8fb6eua4d7p9024gdnd5mdvhncv7pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425352603437-2k8fb6eua4d7p9024gdnd5mdvhncv7pe</string>
	<key>API_KEY</key>
	<string>AIzaSyCYk8hJnh7x99uFW3unoSLFUVtL7SY_9Ho</string>
	<key>GCM_SENDER_ID</key>
	<string>425352603437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.simplepass.cadevan.XXX</string>
	<key>PROJECT_ID</key>
	<string>cadevan-740b1</string>
	<key>STORAGE_BUCKET</key>
	<string>cadevan-740b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:425352603437:ios:d464f6a0bc87f25d</string>
	<key>DATABASE_URL</key>
	<string>https://cadevan-740b1.firebaseio.com</string>
</dict>
</plist>